.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	max-width: 95%;
	width: 100rem;
}

.App > h1 {
	text-align: center;
}

.App > .Footer {
	margin-top: auto;
}

li > button {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
	border: none;
	background: inherit;
	cursor: pointer;
}
